/*
 * billiesChatcornerAdmin.css
 * p76参考
 */

/** リセット開始 */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 6pt;
}

ol, ul, dl {
	list-style-position: inside;
}

/**** 標準セレクタ開始 ****************/
body {
	font: 10px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

#billiesChatcorner-admin-wrap {
  position: relative;
}

/**** billiesChatcorner 名前空間セレクタ開始 *************/
#billiesChatcorner-admin {
  position: absolute;
  top: 24px;
  right: 8px;
  bottom: 8px;
  left: 8px;

  min-width: 360px;
  min-height: 600px;

  background-color: #fff;
  border-radius: 0 8px 0 8px;
}
