/*
 * billiesChatcornerAdmin.css
 * p76参考
 */

/** リセット開始 */
#billiesChatcorner-admin {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#billiesChatcorner-admin h1,
#billiesChatcorner-admin h2,
#billiesChatcorner-admin h3,
#billiesChatcorner-admin h4,
#billiesChatcorner-admin h5,
#billiesChatcorner-admin h6,
#billiesChatcorner-admin p {
	margin-bottom: 6pt;
}

#billiesChatcorner-admin ol,
#billiesChatcorner-admin ul,
#billiesChatcorner-admin dl {
	list-style-position: inside;
}

/* ユーザーが文章を範囲選択できないようにする */
#billiesChatcorner-admin {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;

  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* ユーザーが文章を範囲選択できるようにする */
#billiesChatcorner-admin input,
#billiesChatcorner-admin  textarea,
.billiesChatcorner-x-user-select {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: -moz-text;

  -o-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/**** 標準セレクタ開始 ****************/
body {
}

#billiesChatcorner-admin-wrap {
  position: relative;
}

/**** billiesChatcorner 名前空間セレクタ開始 *************/
#billiesChatcorner-admin {
  position: absolute;
  top: 24px;
  right: 8px;
  bottom: 8px;
  left: 8px;

  min-width: 360px;
  min-height: 600px;

  background-color: #fff;
  border-radius: 0 8px 0 8px;
  font: 14px 'メイリオ', 'ヒラギノ角ゴ', 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}
