@charset "utf-8";

/*
 * billiesChatcorner.admin.chat.css
 */


.billiesChatcorner-admin-shell-main-content-chat {
  position: relative;
  /* width: 300px; */
  background-color: #cff293;
  bottom: 0;
  right: 0;
  border: solid 1px #aaaaaa;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  /* height: 2em; */
  box-shadow: 0 0 0.75em 0 #aaa;
  z-index: 1101;
}

.billiesChatcorner-admin-chat-head  {
  position: absolute;
  top: 0;
  height: 2em;
  line-height: 1.8em;
  border-bottom: solid 1px #aaa;
  cursor: pointer;
  background-color: #aaa;
  color: #cff293;
  font-family: Meiryo, 'ヒラギノ角ゴ', sans-serif;
  font-weight: bold;
  text-align: center;
  left: 0;
  right: 0;
  border-radius: 5px 0 0 0;
}

.billiesChatcorner-admin-chat-head-title {
  position: absolute;
  left: 50%;
  width: 10em;
  margin-left: -4em;
}

.billiesChatcorner-admin-chat-sizer {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  height: 96%;
}

.billiesChatcorner-admin-chat-list {
  position: absolute;
  width: 6em;
  top: 0;
  bottom: 4em;
  left: 0;
}


.billiesChatcorner-admin-chat-msg {
  position: absolute;
  top: 0;
  left: 6em;
  bottom: 0;
  right: 0;
}

.billiesChatcorner-admin-chat-msg-log,
.billiesChatcorner-admin-chat-list-box {
  position: absolute;
  top: 0;
  overflow-x: hidden;
}

.billiesChatcorner-admin-chat-msg-log {
  left: 0;
  right: 0;
  bottom: 4em;
  padding: 0.5em;
  border: solid 1px #888;
  overflow-y: scroll;
}

.billiesChatcorner-admin-chat-msg-log-me {
  font-weight: bold;
  color: #484;
  text-align: right;
  margin: 2px 0;
}

.billiesChatcorner-admin-chat-msg-log-msg {
  margin: 2px 0;
}

/*** 吹き出しの形をつくる                ***/
.billiesChatcorner-admin-chat-msg-log-msg-body,
.billiesChatcorner-admin-chat-msg-log-me-body {
  display: inline-block;
  padding: 2px;
  min-height: 1em;
  border-radius: 4px;
  border: solid 1px #757575;
  position: relative;
}

.billiesChatcorner-admin-chat-msg-log-msg-body {
  margin: 0 0 0 5px;
  background-color: #eee;
}

.billiesChatcorner-admin-chat-msg-log-me-body {
  margin: 0 5px 0 0;
}

.billiesChatcorner-admin-chat-msg-log-msg-body:before,
.billiesChatcorner-admin-chat-msg-log-msg-body:after,
.billiesChatcorner-admin-chat-msg-log-me-body:before,
.billiesChatcorner-admin-chat-msg-log-me-body:after {
  position: absolute;
  top: 6px;
  content: '';
}

.billiesChatcorner-admin-chat-msg-log-msg-body:before {
  border: solid 5px transparent;
  border-right-color: #757575;
}

.billiesChatcorner-admin-chat-msg-log-msg-body:before {
  left: -10px;
}

.billiesChatcorner-admin-chat-msg-log-msg-body:after {
  left: -9px;
  border: solid 5px transparent;
  border-right-color: #eee;
}

.billiesChatcorner-admin-chat-msg-log-me-body:before {
  border: solid 5px transparent;
  border-left-color: #757575;
}

.billiesChatcorner-admin-chat-msg-log-me-body:before {
  right: -10px;
}

.billiesChatcorner-admin-chat-msg-log-me-body:after {
  right: -9px;
  border: solid 5px transparent;
  border-left-color: #cff293;
}
/*** 吹き出しの形をつくる・ここまで           ***/

.billiesChatcorner-admin-chat-msg-log-msg-name,
.billiesChatcorner-admin-chat-msg-log-me-name {
  font-size: 0.7em;
}

.billiesChatcorner-admin-chat-msg-log-alert {
  font-style: italic;
  background: #a88;
  color: #fff;
}

.billiesChatcorner-admin-chat-list-box {
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-width: thin 0 thin thin;
  border-style: solid;
  border-color: #888;
  background-color: #888;
  color: #ddd;
  border-radius: 0.5em 0 0 0;
}

.billiesChatcorner-admin-chat-list-name,
.billiesChatcorner-admin-chat-list-note {
  width: 100%;
  padding: 0.1em 0.5em;
}

.billiesChatcorner-admin-chat-list-name {
  cursor: pointer;
}

.billiesChatcorner-admin-chat-list-name:hover {
  background-color: #aaa;
  color: #888;
}

.billiesChatcorner-admin-chat-list-name.billiesChatcorner-x-select {
  background-color: #fff;
  color: #444;
}

.billiesChatcorner-admin-chat-msg-in {
  position: absolute;
  height: 2em;
  left: -5em;
  right: 1em;
  bottom: 1em;
  border: solid thin #888;
  background: #888;
}

.billiesChatcorner-admin-chat-msg-in input[type="text"] {
  position: absolute;
  width: 75%;
  height: 100%;
  line-height: 100%;
  padding: 0 0.5em;
  border: 0;
  background: #ddd;
  color: #404040;
  box-sizing: border-box;
}

.billiesChatcorner-admin-chat-msg-in input[type="text"]:focus {
  background: #ff8;
  color: #222;
}

.billiesChatcorner-admin-chat-msg-send {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  line-height: 1.9em;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.billliesChatcorner-admin-chat-msg-send:hover {
  background-color: #444;
  color: #ff0;
}

.billiesChatcorner-admin-chat-head:hover  {
  background: #aaa;
}

/*************************************************
   画面が幅768px以上のサイズ
**************************************************/

@media screen and (min-width: 368px) {
  .billiesChatcorner-admin-shell-main-content-chat {
    position: absolute;
  }

  .billiesChatcorner-admin-chat-head  {
  }

  .billiesChatcorner-admin-chat-head-title {
  }

  .billiesChatcorner-admin-chat-sizer {
  }

  .billiesChatcorner-admin-chat-list {
    width: 10em;
    bottom: 0;
  }


  .billiesChatcorner-admin-chat-msg {
    left: 10em;
  }

  .billiesChatcorner-admin-chat-msg-log,
  .billiesChatcorner-admin-chat-list-box {
    top: 1em;
  }

  .billiesChatcorner-admin-chat-msg-log {
    right: 1em;
  }

  .billiesChatcorner-admin-chat-msg-log-msg {
  }

  .billiesChatcorner-admin-chat-msg-log-me {
  }

  .billiesChatcorner-admin-chat-msg-log-alert {
  }

  .billiesChatcorner-admin-chat-list-box {
    left: 1em;
    right: 1em;
    bottom: 1em;
  }

  .billiesChatcorner-admin-chat-list-name,
  .billiesChatcorner-admin-chat-list-note {
  }

  .billiesChatcorner-admin-chat-list-name {
  }

  .billiesChatcorner-admin-chat-list-name:hover {
  }

  .billiesChatcorner-admin-chat-list-name.billiesChatcorner-x-select {
  }

  .billiesChatcorner-admin-chat-msg-in {
    left: 0;
  }

  .billiesChatcorner-admin-chat-msg-in input[type="text"] {
  }

  .billiesChatcorner-admin-chat-msg-in input[type="text"]:focus {
  }

  .billiesChatcorner-admin-chat-msg-send {
  }

  .billliesChatcorner-admin-chat-msg-send:hover {
  }

  .billiesChatcorner-admin-chat-head:hover  {
  }

}
