/*
 * billiesChatcornerAdmin.shell.css
 * シェルスタイル
 */

#billiesChatcorner-admin-wrap {
  margin-top: 10px;
}

.billiesChatcorner-admin-shell-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.billiesChatcorner-admin-shell-head-logo {
  position: absolute;
  top: 4px;
  left: 8px;
  height: 32px;
  width: 400px;
}

.billiesChatcorner-admin-shell-head-logo h1 {
  font : 800 22px/22px Arial, Helvetica, sans-serif;
  margin : 0;
}

.billiesChatcorner-admin-shell-head-logo p {
  font : 800 10px/10px Arial, Helvetica, sans-serif;
  margin : 0;
}

.billiesChatcorner-admin-shell-head-acct {
  position: absolute;
  top: 4px;
  right: 0;
  line-height: 32px;
  width: 210px;
  background: #888;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.billiesChatcorner-admin-shell-main {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0;
}

.billiesChatcorner-admin-shell-main-nav,
.billiesChatcorner-admin-shell-main-content {
  position: absolute;
  top: 0;
  bottom: 0;
}

.billiesChatcorner-admin-shell-main-nav {
  width: 250px;
  background: #eee;
}

.billiesChatcorner-admin-shell-main-content {
  left: 250px;
  right: 0;
  background: #ddd;
}

.billiesChatcorner-admin-shell-main-content-chat {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.billiesChatcorner-admin-shell-foot {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  background: #eee;
}

.billiesChatcorner-admin-shell-modal {
  position: absolute;
  margin-top: -200px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 3px;
  z-index: 2;
}

