/*
 * billiesChatcorner.admin.avtr.css
 * アバター機能スタイル
 */

.billiesChatcorner-avtr-box {
  position: absolute;
  width: 62px;
  padding: 0 4px;
  height: 40px;
  line-height: 32px;
  border: solid 4px #aaa;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  text-align: center;
}

.billiesChatcorner-avtr-box.billiesChatcorner-x-is-user {
  border-color: #44f;
  z-index: 11;
}

.billiesChatcorner-avtr-box.billiesChatcorner-x-is-chatee {
  border-color: #080;
}

.billiesChatcorner-avtr-box.billiesChatcorner-x-is-drag {
  cursor: move;
  color: #fff;
  background-color: #000;
  border-color: #800;
}
