@charset "utf-8";
/*  */


#chat-corner {
	position: fixed;
	width: 300px;
	background-color: #cff293;
	bottom: 0;
	right: 10px;
	border: solid 1px #aaaaaa;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}

.chat-corner-open {
	height: 200px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

.chat-corner-close {
	height: 20px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

#chatcorner-title {
	text-align: center;
	color: blue;
}

#chatcorner-body {
	width: 96%;
	margin: 0 auto;
	height: 175px;
	background-color: #f2e8cb;
	border: solid 1px #aaa;
	border-radius: 5px;
	overflow-y: scroll;
}

#chatcorner-closeBtn {
	float: right;
	z-index: 11;
}
